<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>

  <section class="hero is-info custom-hero">
    <div class="hero-body">
      <div class="columns is-gapless">
        <div class="column is-narrow">
          <h1 class="title font-large-title error-big-text">
            OOPS!
          </h1>
          <h2 class="subtitle font-large-subtitle error-medium-text">
            Looks like that page was<br>not found.
          </h2>
          <h2 class="subtitle font-large-subtitle error-small-text">
            Error: 404
          </h2>
        </div>
        <div class="column">
          <figure>
            <%= image_tag "error_404.png"%>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <div class="buttons is-centered">
      <p class="control">
        <%= link_to "Back to homepage", "/", :class=>"button is-outlined is-rounded is-large custom-button" %>
      </p>
  </div>

  <footer class="footer custom-footer">
      <figure>
      <%= image_tag "footer_attributes.png"%>
      </figure>
  </footer>

  </body>
</html>