<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello,
    <br>
    <br>
    You have been granted admin access to <%= @org %> on <%= Interface.first.name %>.
    <br>
    <br>
    You may now log into your account and post opportunities.
    <br>
    <br>
    Sincerely, <br>
    The Duke Bulletin Team
  </body>
</html>
