<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello,
    <br>
    <br>
    Your organization <%= @org %> has been approved by <%= Interface.first.name %> admin. You may now log into your account and post opportunities.
    <!-- insert link -->

    <br>
    <br>
    Sincerely, <br>
    The Duke Bulletin Team
  </body>
</html>
