<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hello,
    <br>
    <br>
    Your new organization request for <%= @org %> on <%= Interface.first.name %> has been denied.
    <br>
    If you think is a mistake, please contact the Duke Office of Durham and Community Affairs: duke-community-engagement@duke.edu
    <br>
    <br>
    Sincerely,
    <br>
    The Duke Bulletin Team
  </body>
</html>
