<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>One of your volunteer opportunities has been updated with new information! </h1>

        <p> <span style= "font-weight: bold;"><%= $opportunity.organization.name %></span> has updated your opportunity "<span style= "font-weight: bold;"><%= $opportunity.title %></span>" </p>

        <p> To see more, visit the site at: <a href= "dev.bulletin.colab.duke.edu" target= "_blank"> dev.bulletin.colab.duke.edu </a></p>

        <h6>Note: This is an automated message, please do not respont to this email.</h6>
    </body>
</html>