<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Thank you for signing up to volunteer for <%= @opp.title %>! You will be notified once you have been approved by the organization.
    <br>
    In the meantime, make sure you complete any tasks specified when you signed up for the opportunity. You can find this information on the <a href="<% "opportunities/ + #{@opp.id}" %>">opportunity posting</a>.
    <br>
    <br>
    <% unless @opp.poc_name.blank? %>
      If you have any questions, please contact <%= @opp.poc_name %> at
      <%= @opp.poc_email unless @opp.poc_email.blank? %>
      <% unless @opp.poc_email.blank? || @opp.poc_phone.blank? %>
        or
      <% end %>
      <%= @opp.poc_phone unless @opp.poc_phone.blank? %>.
    <% end %>
  </body>
</html>
