<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>molly 2020</title>
  </head>
  <body>
    <h1 class="molly">H</h1>
    <h2>I</h2>
    <br>
    <h3>G</h3>
    <h4 style="color: cyan;">U</h4>
    <h5>Y</h5>
    <h6>S</h6>
    <p>:)</p>
  </body>
</html>
