<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    You have successfully cancelled your sign-up for <%= @opp.title %>.
  </body>
</html>
