//STYLES FOR PARTIALS INSIDE PROFILE TABS, I.E.
//HOURS, NOTIFS, HISTORY, OPPS, FOR VOLUNTEERS
//STATS, NOTIFS, VOLUNTEERS, REVIEWS, FOR ORGS
//STATS, REQUESTS, ORGANIZATIONS, FOR ADMINS
//AUTHOR; ZHICHEN GUO AND HERLEEN KAUR

// Place all the styles related to the opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "set_color";

.disabled {
    color: $grey-dark !important;

    float: right;
    padding: 10px 0 0 0;
    margin: 0;

    font-size: 22px;
    font-weight: 200;
}

//WARNING: THIS MIGHT BELONG TO edit_forms.scss
input, textarea{
    padding: 5px 5px !important;
    margin: 5px 0 !important;
    box-sizing: border-box;
    background-color: $grey-light;
    border-style: $grey-dark;
    border: 1px solid $grey-dark;
}

.pending-submit {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20%;
    padding: 5px 20px;

    font-family: $family-secondary;
    font-weight: 600;
    font-size: 14px;

    border-radius: $button-round;
    border: 1px solid $accent-color;
    background-color: $accent-color !important;
    color: white !important;

    &:hover {
        cursor: pointer;
        background-color: rgba( $accent-color, .9 ) !important;
        color: white;

        border-width: 1px;
        border-color: rgba( $accent-color, .9 ) !important;
        border-style: solid;
    }
}
.pending-box {
    width: 100%;
    padding: 20px;
    line-height: 30px;
    border: 1px solid $grey-light;
}
.pending-text {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}
.pending-description {
    width: 100%;
}
.radio-text {
    font-family: "Montserrat", sans-serif !important;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

.feedback-inputs {
    margin: 20px 0;
}

.signup-dropdown {
    &:hover {
        cursor: pointer;
        color: rgba( $secondary-color, .7 ) !important;
    }
}
.signup-arrow-flip {
    transform: rotate(180deg);
}
.signups {
    display:none;
}

    // right part of the feed
.history {
    font-family: $family-primary;
    border-bottom: 1px $grey-light solid;
    padding: 15px;

    .history-title {
        color: $main-color !important;
        font-weight: bold;
        font-size: 22px;
        line-height: 28x;

        &:hover {
            cursor: pointer;
            color: $secondary-color !important;
        }
    }
    .history-org {
        color: $main-color;
        font-weight: normal;
        font-size: $font-20;
        line-height: 28px;
        margin-bottom: 5px;
    }
    .history-description {
        font-family: $family-secondary !important;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }

    .history-tagbox {
        margin: 15px 0 0 0;
    }
    .history-tag {
        background-color: transparent;
        color: $accent-color;

        border-width: 1px;
        border-color: $accent-color;
        border-style: solid;

        font-family: $family-primary;
        font-weight: 500;
        font-size: 14px;
    }
}

.org-volunteer-level {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px $grey-light solid;
}
.org-volunteer-pic {
    height: 75px;
    width: 75px;
}
.org-volunteer-name {
    font-size: 18px;
    text-align: left;
    font-weight: bold;

    color: $main-color;
}
.org-volunteer-email {
    font-size: 16px;
    text-align: left;
    font-weight: bold;

    color: $grey-dark;
}
.org-volunteer-button {
    border-radius: $button-round;
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: white;

    font-family: $family-secondary;
    font-size: 15px;
}

.profile-notif {
    padding: 15px;
    margin: 2px;

    .upcoming {
        font-family: $family-secondary;
        font-weight: 600;
        font-size: $font-20;
        line-height: 30px;

        color: $secondary-color;
        margin-bottom: 10px;
    }

    .upcoming-shift {
        font-family: $family-secondary;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;

        color: black;
        margin-bottom: 8px;

        .upcoming-shift-unbold {
            font-weight: normal;
        }
    }
    .upcoming-title {
        font-family: $family-secondary !important;
        color: $secondary-color;

        &:hover {
            cursor: pointer;
            color: $main-color;
        }
    }
}

// volunteer hours page
.profile-columns-hours {
    padding-top: 20px;

    // image for hours goals
    .profile-hours-pic {
        width: 300px;
        height: 300px;

        padding-left: 15px;
    }

    // past volunteer history
    .profile-history {
        padding-right: 15px;

        .title-volunteer-history {
            font-family: $family-secondary;
            font-weight: 600;
            font-size: $font-20;
            line-height: 30px;

            color: $accent-color;
            margin-bottom: 10px;
        }

        .past-shift-title {
            font-family: $family-secondary;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;

            color: $grey-extra-dark;
        }

        .past-shift-info {
            font-family: $family-secondary;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;

            color: $grey-extra-dark;
        }
    }
}

// org and volunteer notifications page
.profile-notifications {
    .notification {
        padding: 15px;
        margin: 2px;

        font-family: $family-secondary;
        font-size: 18px;

        background-color: white;
        border-bottom: 1px $grey-light solid;
        border-radius: 0px;

        .profile-notification-blue-dark {
            font-family: $family-secondary;
            font-size: 18px;
            color: $main-color;
            font-weight: bold;
        }
        .profile-notification-blue-light {
            font-family: $family-secondary;
            font-size: 18px;
            color: $secondary-color;
            font-weight: bold;
        }
    }
}

// org and volunteer notifications page
.notification {
    padding: 15px;
    margin: 2px;

    font-family: $family-secondary;
    font-size: 18px;

    background-color: white;
    border-bottom: 1px $grey-light solid;
    border-radius: 0px;

    .profile-notification-blue-dark {
        font-family: $family-secondary;
        font-size: 18px;
        color: $main-color;
        font-weight: bold;
    }
    .profile-notification-blue-light {
        font-family: $family-secondary;
        font-size: 18px;
        color: $secondary-color;
        font-weight: bold;
    }
    .profile-notification-pink {
        font-family: $family-secondary;
        font-size: 18px;
        color: $accent-color;
        font-weight: bold;
    }
}
.notif-text{
    font-family: $family-secondary !important;
    font-size: 18px;
}

 .profile-notif-button {
     border-radius: $button-round;
     background-color: $secondary-color !important;
     border-color: $secondary-color !important;
     color: white !important;

     font-family: $family-secondary;
     font-size: 15px;
     float: right;
 }
 .profile-notif-arrow {
     color: $secondary-color;
     width: 25px;
     height: 25px;
     float: right;
 }

 .opportunity {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

  .org-master-container {
    max-height: 70vh !important;
    overflow: auto;
  }

  .requests-org-pic {
      width: 160px !important;
      height: 90px !important;
      overflow: hidden;
  }

  .graph-text{
      font: $family-secondary;
      color: $grey-dark;
      font-size: 15px;
      font-weight: 100;
      text-align: left !important;
  }

  .admin-orgs {
    margin: 5px 5px 0 5px;
    padding: 0 0 20px 0;
    border-bottom: 1px $grey-light solid;
  }

  .admin-org-name {
      font-size: 25px;
      color: $main-color;
      font-weight: bold;
      font-family: $family-primary;
  }

  .admin-org-info {
      font-size: 15px;
      color: $grey-dark;
      font-family: $family-primary;
      font-weight: bold;
  }

.grey-stat {
    background-color: $grey-light;
    font-size: 18px;
    text-align: left;
    padding: 5px;
 }
 .white-stat {
    background-color: white;
    font-size: 18px;
    text-align: left;
    padding: 5px;
 }
 .bold-stat {
    font-size: 25px;
    color: $secondary-color;
    font-weight: 600;
 }
.flash {
    .notification {
        font-family: $family-secondary;
        font-size: 18px;
        border-radius: 4px;
        background: red;
        opacity: 0.67;
        color: white;
        font-weight: bold;
    }
}
.onboard-arrow {
    font-size: 20px;
    color: $main-color;

    float: left;

    &:hover {
        cursor: pointer;
        color: $secondary-color;
    }
}


 .circle {
     color: $grey-light !important;
 }
 .fa-circle {
     padding: 2px;
     color: $grey-extra-dark;
 }
 .login-navbar {
     padding: 30px;

    .navbar-item-grey {
        font-family: $family-secondary;
        font-size: 24px;
        font-weight: bold;
        color: $grey-dark;
        float: right;
    }

    .navbar-item-selected {
        font-family: $family-secondary;
        font-size: 24px;
        font-weight: bold;
        color: $main-color;
    }
}

.login-navbar-item:hover {
    cursor: pointer;
    color: $secondary-color !important;
}

.graph-bar-tabs{
    float: left;
    display: block;
}

.pie-container {
    text-align: center;
}

.pie-chart {
    display: inline-block;
}

.notif-org-name {
    font-size: 20px !important;
    color: $main-color !important;
    font-family: $family-secondary !important;
    font-weight: bold !important;
}

.notif-org-info {
    font-size: 17px;
    color: $grey-dark;
    font-family: $family-secondary;
}

@media screen and (max-width: 524px){
    .graph-bar-tabs{
        float: none;
    }
  }
