@import "bulma/bulma";
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
// @import '@fortawesome/fontawesome-free/scss/fontawesome';
// @import '@fortawesome/fontawesome-free/scss/solid';
// @import '@fortawesome/fontawesome-free/scss/regular';
// @import '@fortawesome/fontawesome-free/scss/brands';
// @import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'bulma/css/bulma.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bulma-social/bin/bulma-social.min.css';

// setting constants for buttons
$button-round: 21px;
$button-border: 2px;

// settings constants for fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-primary: "Roboto", sans-serif;
$family-secondary: "Montserrat", sans-serif;
$font-120: 120px;
$font-80: 80px;
$font-45: 45px;
$font-30: 30px;
$font-20: 20px;

// setting brand colors
$grey-extra-dark: #686868;
$grey-dark: #B5B5B5;
$grey-light: #F3F2F1;
$white: #fff;
$black: #000;
//Original blue-blue-pink color scheme below
//$main-color: #132357; $secondary-color: #0577B1; $accent-color: #B76D68;

//New color scheme goes here!
$main-color: #CF2132; $secondary-color: #87DE8D; $accent-color: #AB24A4;